@import "../node_modules/tailwindcss/dist/base.min.css";

@import "../node_modules/tailwindcss/dist/components.min.css";

@import "../node_modules/tailwindcss/dist/utilities.min.css";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f7fafc
}

